.add-photo {
  height: 595px;
  width: 680px;
  border-radius: 5px;

  @include tablets {
    width: 95%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background: #f1f1f1;
  }

  &__title {
    line-height: 1;
    color: rgb(50, 50, 50);
    font-family: "Panton";
    font-weight: bold;
    font-size: 21px;
  }

  &__close {
    position: relative;
    cursor: pointer;
    background: url("../img/close.svg");
    width: 26px;
    height: 26px;
  }

  &__content-wrapper {
    padding: 30px 20px 0 20px;
  }

  &__content-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &__name {
    font-size: 16px;
    font-family: "Proxima Nova";
    color: rgb(50, 50, 50);
    line-height: 1.313;
    font-weight: bold;
    margin-right: 20px;
  }

  &__icon {
    width: 40px;
    height: 32px;
    background: url("../img/cam.svg");
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    font-family: "Proxima Nova";
    color: rgba(50, 50, 50, 0.8);
    line-height: 1.313;

    &_drag-photo {
      @include phones {
        display: none;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__photos {
    width: 640px;
    min-height: 325px;
    margin-bottom: 40px;
    border: 3px dashed #f1f1f1;
    border-radius: 20px;
    background: #f9f9f9;

    @include tablets {
      width: 100%;
      min-height: 285px;
    }

    &_empty {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    &-list {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 15px 18px;

      @include tablets {
        padding: 5px 15px;
      }
    }

    &-item {
      position: relative;
      height: 135px;
      width: 135px;
      list-style: none;
      margin: 0 20px 20px 0;
      border-radius: 2px;

      @include tablets {
        padding-bottom:22%;
        height: 0;
        width: 22%;
        margin: 0 4% 4% 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:last-child, &:nth-last-child(2) {
        margin-bottom: 0;
      }

      &-close {
        position: absolute;
        width: 22px;
        height: 22px;
        top: -12px;
        right: -12px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        background: #ee4634;
        cursor: pointer;
        z-index: 10;

        @include phones {
          top: -7px;
          right: -7px;
          width: 12px;
          height: 12px;
          border: 1px solid #ffffff;
        }
      }

      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -6px;
        width: 14px;
        height: 2px;
        border-radius: 1px;
        background: #ffffff;
        cursor: pointer;
        z-index: 20;

        @include phones {
          width: 8px;
          height: 1px;
          top: 0;
          right: -4px;
        }
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(-45deg);
      }
    }
  }

  &__button {
    display: none;

    @include phones {
      display: block;
    }
  }

  &__error {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    font-family: "Proxima Nova";
    color: rgba(50, 50, 50, 0.6);
    font-weight: bold;
    line-height: 1.143;
    background: #ffe3e3;
    border-radius: 3px;
  }

  &__bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;
    background: #f1f1f1;
  }

  &__save-button {
    margin-right: 20px;
  }
}

.link_add-photo {
  font-size: 16px;
}