.hello {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../img/hello-background.png") no-repeat center center / cover;

  &__title {
    font-size: 42px;
    font-family: "Panton";
    color: #fff;
    font-weight: bold;
    line-height: 0.5;
    margin: 115px 0 20px;

    &_registration {
      margin-bottom: 40px;
    }
  }

  &__description {
    font-size: 16px;
    font-family: "Proxima Nova";
    color: #fff;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;

    &-bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 20px;
    }
  }

  &__name, &__email, &__password {
    width: 100%;
    padding: 10px 30px 10px 45px;
    font-size: 16px;
    font-family: "Proxima Nova";
    color: rgba(50, 50, 50, 0.6);
    line-height: 1.313;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;

    &:focus {
      color: rgb(50, 50, 50);
    }
  }

  &__name {

    &-wrapper {
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 10px;
      left: 20px;
      width: 15px;
      height: 18px;
      background: url("../img/sprite.png");
      background-position: 15px;
    }
  }

  &__email {
    &-wrapper {
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 13px;
      left: 20px;
      width: 15px;
      height: 13px;
      background: url("../img/sprite.png");
    }

    &_forget {
      margin-bottom: 20px;
      border-top: 1px solid #e1e1e1;
    }
  }

  &__password {
    margin-bottom: 5px;

    &-wrapper {
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 10px;
      left: 20px;
      width: 15px;
      height: 18px;
      background: url("../img/sprite.png");
      background-position: 50px;
    }
  }

  &__subtitle {
    padding: 20px 20px 5px;
    font-size: 14px;
    font-family: "Proxima Nova";
    font-weight: bold;
    color: rgb(50, 50, 50);
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      margin-right: 3px;
      font-size: 14px;
      font-family: "Proxima Nova";
      color: rgba(50, 50, 50, 0.8);
      line-height: 1.714;

      &_registration {
        margin-bottom: 10px;
      }

      &_forget {
        padding: 5px 20px 10px;
        margin: 0;
      }
    }
  }

  &__error {
    width: 220px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: "Proxima Nova";
    font-weight: bold;
    color: rgba(50, 50, 50, 0.6);
    line-height: 1.143;
    border-radius: 3px;
    background-color: rgb(255, 224, 224);
    opacity: 0.902;
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 280px;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 15px;
}

.link_forget {
  margin-bottom: 10px;
}

.button_signin {
  width: 239px;
  height: 38px;
  margin-bottom: 5px;
}