footer.footer
    .footer__left
        This is a service that helps you organize your photos into albums and share them with the whole world.
    .footer__center
        .footer__to-top
    .footer__right
        .footer__copyright 2019