header.header
    .container
        .header__left
            .header__avatar
                .header__avatar-img
            .header__description
                .header__name John Doe
                .header__about Description
                ul.header__socials
                    li.header__social-item.header__social-item_vk
                    li.header__social-item.header__social-item_facebook
                    li.header__social-item.header__social-item_twitter
                    li.header__social-item.header__social-item_email
        .header__right
            .header___edit
            .header___logout