extends ../_template

block variables
    - var title = 'Add photo empty'

block content
    .add-photo
        .add-photo__header
            .add-photo__title Add photo
            .add-photo__close
        .add-photo__content-wrapper
            .add-photo__content-top
                .add-photo__name Name
                .add-photo__text Summer
            main.add-photo__photos.add-photo__photos_empty
                .add-photo__text-wrapper
                    .add-photo__icon
                    .add-photo__text.add-photo__text_drag-photo Drag photo here
                    .add-photo__text.add-photo__text_drag-photo or
                        span.link.link_blue.link_add-photo &nbsp;choose file
                    button(type=button).button.button_standard.button_transparent.add-photo__button
            .add-photo__error Chosen wrong format of pictures. Try again
        .add-photo__bottom
            button(type=button).button.button_blue-background.button_standard.add-photo__save-button Save
            a.link.link_blue Cancel