extends ../_template

block variables
    - var title = 'Forget password page'

block content
    .hello
        h1.hello__title.hello__title_registration Password restoration
        .form-wrapper
            form.hello__form
                .hello__subtitle Forget your password?
                .hello__bottom-text.hello__bottom-text_forget Input your email and we send you instruction how to restore password
                .hello__email-wrapper
                    input.hello__email.hello__email_forget(placeholder='Email')
                    .hello__email-icon
                .hello__form-bottom
                    button(type=submit).button.button_blue-background.button_signin Restore password
            .hello__bottom
                .hello__bottom-text Remember password?
                .a.link.link_blue Sign in