extends ../_template

block variables
    - var title = 'Notification'

block content

    .notification
        .notification__top Files were uploaded
        .notification__bottom
            button(type=button).button.button_standard.button_transparent Close