extends ../_template

block variables
    - var title = 'Registration page'

block content
    .hello
        h1.hello__title.hello__title_registration Registration
        .form-wrapper
            form.hello__form
                .hello__name-wrapper
                    input.hello__name(placeholder='Name')
                    .hello__name-icon
                        svg(style="width:20px;height:18px" viewBox="0 0 24 24")
                            path(d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z")
                .hello__email-wrapper
                    input.hello__email(placeholder='Email')
                    .hello__email-icon
                        svg(style="width:20px;height:18px" viewBox="0 0 24 24")
                            path(d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z")
                .hello__password-wrapper
                    input.hello__password(placeholder='Password')
                    .hello__password-icon
                        svg(style="width:20px;height:18px" viewBox="0 0 24 24")
                            path(d="M12,17A2,2 0 0,0 14,15C14,13.89 13.1,13 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V10C4,8.89 4.9,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z")
                .hello__form-bottom
                    .hello__bottom-text.hello__bottom-text_registration Your data is confidential
                    button(type=submit).button.button_blue-background.button_signin Sign up
            .hello__bottom
                .hello__bottom-text Already have account?
                .a.link.link_blue Sign in